@charset "utf-8";


/*upの設定
（待機中の設定）
---------------------------------------------------------------------------*/
.up {
	position: relative;
	opacity: 0;		/*透明度（透明の状態）*/
}


/*upの設定
（要素が見えたら実行するアクションの設定）
---------------------------------------------------------------------------*/
.upstyle {
	opacity: 1;				/*透明度（色が100%出た状態）*/
	transition: 0.7s 0.3s ease-out;	/*1.5sはアニメーションの実行時間1.5秒。0.5sは0.5秒遅れてスタートする指定。*/
}


/*upスタイル。下から上にフェードインしてくるスタイル
---------------------------------------------------------------------------*/
/*待機中の設定*/
.up {
	bottom: -10px;	/*基準値の下20pxの場所からスタート*/
}

/*要素が見えたら実行するアクション*/
.upstyle {
	bottom: 0px;	/*基準値まで戻す*/
}


/*blurスタイル。ぼかしで出現するスタイル。
---------------------------------------------------------------------------*/
/*待機中の設定*/
.blur {
	opacity: 0;	/*透明度（透明の状態）*/
	filter: blur(30px);
	transform: scale(1.1);
}

/*要素が見えたら実行するアクション*/
.blurstyle {
	opacity: 1;
	filter: blur(0);
	transform: scale(1);
	transition: 0.7s 0.3s;
}


